{% extends "account/base.html" %}
{% load static %}
{% block title_page %} Question {{ id }}{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}
<div class="container mt-5 col-lg-6" style="margin-top: 100px;">
    {% for question in page_obj %}
    <h2> <span class="question_number">{{question.id}})</span> To what extent do I like to {{ question.question }}?</h2>
    <form method="POST" id="form-{{question.id}}" action="{% url 'core:index' %}">
        {% csrf_token %}
        <div class="form-check ml-3" id="form-check-1">
            <input class="form-check-input-1  radiobtn" type="radio" name="flexRadioDefault" id="{{question.id}}" value="1" >
            <label class="form-check-label" for="flexRadioDefault1">
              1
            </label>
        </div>
        <div class="form-check" id="form-check-2">
            <input class="form-check-input-2  radiobtn" type="radio" name="flexRadioDefault" id="{{question.id}}" value="2">
            <label class="form-check-label" for="flexRadioDefault2">
              2
            </label>
        </div>
        <div class="form-check" id="form-check-3">
            <input class="form-check-input-3  radiobtn" type="radio" name="flexRadioDefault" id="{{question.id}}" value="3">
            <label class="form-check-label" for="flexRadioDefault1">
              3
            </label>
        </div>
        <div class="form-check" id="form-check-4">
            <input class="form-check-input-4   radiobtn" type="radio" name="flexRadioDefault" id="{{question.id}}" value="4">
            <label class="form-check-label" for="flexRadioDefault2">
              4
            </label>
        </div>
        <div class="form-check" id="form-check-5">
            <input class="form-check-input-5  radiobtn" type="radio" name="flexRadioDefault" id="{{question.id}}" value="5">
            <label class="form-check-label" for="flexRadioDefault1">
              5
            </label>
        </div>
    </form>
    {% endfor %}
    
</div>
{% if page_obj.has_previous %}
<div class="container col-lg-6 mt-4">
  <button class="btn btn-primary" type="submit" id="submit">Submit</button>
</div>
{% endif %}

{% endblock %}