<html>
<head>
Display records of database
<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
</head>
<body>
    <div id="container" style = "width: 50% ; height: 50%"></div>
    <script>
        // here answers is JSONResponse object from view function
       // var subscale_score = "{{ answers }}";
       
       //function visualize(){
    //fetch(`visualize`)
    //.then(response => response.json())
  //  .then(result => result);
//}

       var result = JSON.parse("{{answers|escapejs}}");
       //var myWindow = window.open('','','width=200,height=100')
       //myWindow.document.write(result)
       //myWindow.print();

       anychart.onDocumentReady(function() {
            var data = {
                header: ["Subscales","Scores"],
                rows : [
                    ["1",result["1"]],["2",result["2"]] // for 2 subscales- will update when we deliever to client for 36 scales
                ]
            };
          
        var chart = anychart.bar();
        chart.data(data);
        chart.title("Scores of each subscale");
        chart.container("container");
        chart.draw();

        });

</script>
    
 
</body>
</html>