{% extends "account/base.html" %}
{% load static %}
{% block title_page %} Answers {{ id }}{% endblock %}

{% block content %}
    <h1 class=" d-flex justify-content-center mt-5 h1" style="color: darkgrey;">Score of your Answers</h1>
    <div class=" container justify-content-center  col-lg-6 col-md-10 col-sm-11" style = "width: 60%;height: 60%; position: fixed; top: 40%; left: 25%;">
    <div id="container"></div>
    </div>
    <script>
       var result = JSON.parse("{{answers|escapejs}}");
       anychart.onDocumentReady(function() {
            var data = {
                header: ["Subscales","Scores"],
                rows : [
                    ["SELF-ANALYSIS",result["1"]],["INTUITION",result["2"]] // for 2 subscales- will update when we deliever to client for 36 scales
                ]
            };
          
        var chart = anychart.bar();
        chart.data(data);
        chart.title("Scores of each subscale");
        chart.container("container");
        chart.draw();

        });

</script>
    
{% endblock %}